/* Media Query for Mobile Devices */
@media (max-width: 576px) {
  body {
     color: red; 
}
  header {
  grid-column: 1 / 4;
  text-align: right;
}
.left-sidebar {
   background: #B4C424;
    grid-column: 1 / 2;
    /* padding: 5px; */
    font-size: 1.5em;
    margin-left: -4%;
    padding: 1rem;
}
main: {   background: #C9CC3F;
    grid-column: 2 / 3;
    /* text-align: justify; */
    font-size: 1.5em;
    width: 598px;
    /* margin-left: -110px; */
    display: block;
}    ss
}
@media (min-width: 576px) and (max-width: 991px) {
   body {
    color: blue;
}
  header {
  grid-column: 1 / 4;
  text-align: right;
}
.left-sidebar {
   background: #B4C424;
    grid-column: 1 / 2;
    /* padding: 5px; */
    font-size: 1.5em;
    margin-left: -4%;
    padding: 1rem;
}
main: {   background: #C9CC3F;
    grid-column: 2 / 3;
    /* text-align: justify; */
    font-size: 1.5em;
    width: 598px;
    /* margin-left: -110px; */
    display: block;
}    ss
}
@media (min-width: 992px) {
  body {
    color: #954535;
  }
    header {
  grid-column: 1 / 4;
  text-align: right;
}
.left-sidebar {
   background: #B4C424;
    grid-column: 1 / 2;
    /* padding: 5px; */
    font-size: 1.5em;
    margin-left: -4%;
    padding: 1rem;
}
main: {   background: #C9CC3F;
    grid-column: 2 / 3;
    /* text-align: justify; */
    font-size: 1.5em;
    width: 598px;
    /* margin-left: -110px; */
    display: block;
}    ss
}

// etc

header {
  padding: 2rem;
  grid-column: 1 / 4;
  text-align: right;
}
header img {
  position: relative;
  left: auto;
  width: 60px;
  height: 60px;
}
.left-sidebar {
   background: #B4C424;
    grid-column: 1 / 2;
    /* padding: 5px; */
    font-size: 1.5em;
    margin-left: -4%;
    padding: 1rem;
}
main {
    background: #C9CC3F;
    grid-column: 2 / 3;
    /* text-align: justify; */
    font-size: 1.5em;
    width: 598px;
    /* margin-left: -110px; */
    display: block;
}    ss
.right-sidebar {
    grid-column: 3 / 4;
    width: 50%;
    margin: 5px;
    padding-top: 5px;
}
.right-sidebar {
  padding: 0rem;
  background: #93C572;
}
.right-sidebar img {
    width: 60%;
    height: 30%;
    float: left;
}
footer {
  background: wheat;
  padding: 2rem;
  text-align: center; 
  grid-column: 1 / 4;
  width: 99%;
  height: 30%;
}
body {
  font-family: system-ui, sans-serif;
}

table {
  font-size: 20px;
  width: 50%;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto; 
}
.grid-item {
  background-color: none;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 20px;
  text-align: center;